   <!-- About us Widget -->
   <div class="well">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    <!-- Social Media icons -->
    <div class="social-media">
       <a href="#" title=""><i class="fa fa-twitter"></i></a>
       <a href="#" title=""><i class="fa fa-facebook"></i></a>
       <a href="#" title=""><i class="fa fa-linkedin"></i></a>
       <a href="#" title=""><i class="fa fa-pinterest"></i></a>
       <a href="#" title=""><i class="fa fa-instagram"></i></a>
    </div>
 </div>
 <!-- /well -->
 <!-- Blog Categories -->
 <div class="well">
    <h4>Categories</h4>
    <div class="row">
       <ul class="list-unstyled">
          <li><a href="#">Parent's Book</a>
          </li>
          <li><a href="#">Events and News</a>
          </li>
          <li><a href="#">Teachers</a>
          </li>
          <li><a href="#">Updates</a>
          </li>
       </ul>
    </div>
    <!-- /.row -->
 </div>
 <!-- /well -->
 <!-- Text Widget-->
 <div class="well">
    <h4>Text Widget</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
 </div>
 <!-- /well -->
 <!-- Image Widget -->
 <div class="well">
    <h4>Image</h4>
    <img src="<?=get_template_directory_uri()?>/assets/img/imgwidget.jpg" class="img-responsive" alt="">
 </div>
 <!-- /well -->
 <!-- Tags Widget -->
 <div class="well">
    <h4>Tags</h4>
    <div class="blog-tags">
       <a href="#">Daycare</a> <a href="#">Concert</a> <a href="#">Father's day</a> <a href="#">Fun</a> <a href="#">Activity</a> <a href="#">Toys</a> <a href="#">Offer</a>
    </div>
 </div>
 <!-- /well -->
 <!-- Accordion -->
 <div class="well">
    <h4>Accordion</h4>
    <!-- Accordion -->
    <div class="panel-group" id="accordion">
       <!-- Question 1 -->
       <div class="panel">
          <div class="panel-heading">
             <h6 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Activities</a>
             </h6>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
             <div class="panel-body">
                <p> Fusce mollis imperdiet interdum donec eget metus auguen unc vel mauris ultricies, vest ibulum orci eget, viverra elit. 
                </p>
             </div>
          </div>
       </div>
       <!--/panel -->
       <!-- Question 2 -->
       <div class="panel">
          <div class="panel-heading">
             <h6 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Age Group</a>
             </h6>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
             <div class="panel-body">
                <p> Fusce mollis imperdiet interdum donec eget metus auguen unc vel mauris ultricies, vest ibulum orci eget, viverra elit. 
                </p>
             </div>
          </div>
       </div>
       <!--/panel -->
       <!-- Question 3 -->
       <div class="panel">
          <div class="panel-heading">
             <h6 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Timetable</a>
             </h6>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
             <div class="panel-body">
                <p> Fusce mollis imperdiet interdum donec eget metus auguen unc vel mauris ultricies, vest ibulum orci eget, viverra elit. 
                </p>
             </div>
          </div>
       </div>
       <!--/panel -->					 
    </div>
    <!-- /.accordion -->		
 </div>
 <!-- /well -->
